{% extends "base.html" %}
{% block content %}

<div class="container">
  <div class="jumbotron">
    <h3>Uma alternativa ao SISGP</h3>
    <p></p>

    <p>Um sistema semelhanete ao SISGP da SUSEP (utiliza o mesmo banco de dados), mas com algumas funcionalidades que buscam 
      simplficar a gestão do PGD em uma unidade.
    </p>
    <p>Um manual básico sobre o funcionamento do sistema está disponível aqui: 
      <a class="label label-primary" href=/static/Manual_UnidSisgp.pdf target="_blank"  style="margin-right: 5px;">Manual do UnidSisgp</a>.
    </p>
    

  </div>
</div>

{% endblock %}
