{% extends "base.html" %}
{% block content %}
<div class="container">

  <div class="admin-view-users">
    <div class="page-header">
      <h3>Lista dos usuários</h3>
    </div>

    <div style="overflow-y: auto; height:600px">
      <table class="table table-striped" id="admin_list_of_users">
        <thead>
          <tr>
            <th style="text-align:center; vertical-align:middle">ID</th>
            <th style="text-align:left; vertical-align:middle">Usuário</th>
            <th style="text-align:left; vertical-align:middle">E-mail</th>
            <th style="text-align:center; vertical-align:middle">Data reg.</th>
            <th style="text-align:center; vertical-align:middle">Último login</th>
            <th style="text-align:center; vertical-align:middle">Ativo?</th>
            </tr>
        </thead>
        <tbody>
          {% for user in lista %}
            <tr>
              {% if current_user.avaliadorId == 99999 %}
                <td> <a href="{{url_for('usuarios.update_user', user_id=user.id)}}"><abbr title="Clique aqui para atualizar">{{ user.id }} </abbr></a></td>
              {% else %}
                <td>{{ user.id }}</td>
              {% endif %}  
              <td> {{ user.userNome }} </td>
              <td> {{ user.userEmail }} </td>
              <td align="center"> {% if user.registered_on != None %} {{user.registered_on.strftime('%d/%m/%Y')}} {% endif %} </td>
              <td align="center"> {% if user.current_logged_in != None %} {{user.current_logged_in.strftime('%c')}} {% endif %}</td>
              <td align="center"> {% if user.userAtivo == True %} Sim {% else %} Não {% endif %} </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>
{% endblock %}
