{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h5><b>Programas de Gestão da Unidade {{unid_dados.undSiglaCompleta}} e suas subordinadas</b></h5>

<caption>
  <div class="row">
      <div class="col">
        <p>Lista dos <span class="badge badge-pill badge-primary">{{quantidade}}</span> PGs. 
          {% if lista == '%' %}
            (Todas)
          {% else %}
            ({{lista}})
          {% endif %}</p>
      </div>
  </div>
</caption>

<div class="container" style="overflow-y:auto; width:2000px; height:400px">

  <table id="table"
        data-toggle="table"
        data-show-search-clear-button="true"
        data-sortable="true"
        classes="table-sm"
        data-pagination="true"
        data-show-columns="true"
        data-show-columns-toggle-all="true"
        class="table table-striped table-hover table-sm">
    <caption>Programas de Gestão (Atividades)</caption>
    <thead>
      <tr>
        <th scope="col"><p align = "center">#</p></th>
        <th scope="col" data-sortable="true"><p align = "center">Unidade</p></th>
        <th scope="col" data-sortable="true"><p align = "center">Situação</p></th>
        <th scope="col" data-sortable="true"><p align = "center">Início</p></th>
        <th scope="col" data-sortable="true"><p align = "center">Fim</p></th>
        <th scope="col"><p align = "center">Atividades</p></th>
        <th scope="col"><p align = "center">Metas</p></th>
        <th scope="col"><p align = "center">Pactos</p></th>
        <th scope="col"><p align = "center">Objetos</p></th>
      </tr>
    </thead>
    <tbody>

      {% for pt in planos_trab_unid %}

      <tr>
        <th scope="row"><p align = "center"> {{planos_trab_unid.index(pt) + 1}} </p></th>
        <td><p align = "center"> {{pt.undSigla}} </p></td>
        <td><p align = "center"> {{pt.descricao}} </p></td>
        <td><p align = "center"> {{pt.dataInicio.strftime('%d/%m/%Y')}} </p></td>
        <td><p align = "center"> {{pt.dataFim.strftime('%d/%m/%Y')}} </p></td>
        <td><p align = "center"> <a class="" href="{{url_for('pgs.lista_atividades_pg',pg=pt.planoTrabalhoId)}}">
          <abbr title="Clique aqui para ver atividades deste PG.">{{pt.qtd_ativs}} </abbr></a></p></td>
        <td><p align = "center"> 
            {% if pt.qtd_metas == None %}
              0
            {% else %}
            <a class="" href="{{url_for('pgs.lista_metas_pg',pg=pt.planoTrabalhoId)}}">
              <abbr title="Clique aqui para ver as metas deste PG.">{{pt.qtd_metas}} </abbr></a>
            {% endif %}
        </p></td>
        <td><p align = "center"> 
          {% if pt.qtd_pactos == None %}
            0
          {% else %}
          <a class="" href="{{url_for('pgs.lista_pactos_pg',pg=pt.planoTrabalhoId)}}">
            <abbr title="Clique aqui para ver os pactos deste PG.">{{pt.qtd_pactos}} </abbr></a>
          {% endif %}
        </p></td>
  
        <td><p align = "center"> 
          <a class="" href="{{url_for('objetos.lista_objetos_pg',pg=pt.planoTrabalhoId)}}">
            <abbr title="Clique aqui para ver os objetos deste PG.">
              {% if pt.qtd_objetos == None %}
                0
              {% else %}
                {{pt.qtd_objetos}} 
                {% endif %}  
            </abbr></a>
        </p></td>   
            
      </tr>

      {% endfor %}

    </tbody>
  </table>

</div>

</div>
{% endblock %}
