{% extends "base.html" %}
{% block content %}

<div class="container">

  <div class="jumbotron">

    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-primary font-weight-bold">Plano de Trabalho enviado para aceite {{pacto_id}}</h5>

            <p>Executor: <b>{{dono.pesNome}}</b></p>
            
            <div class="row">
              <div class="col-6">
                Data início: <b>{{plano.dataInicio.strftime('%d/%m/%Y')}}</b>
              </div>
              <div class="col-6">
                Data fim: <b>{{plano.dataFim.strftime('%d/%m/%Y')}}</b>
              </div>
            </div>
            <p></p>

            <p>Tempo Total Disponível: {{plano.tempoTotalDisponivel}} h</p>

            <p>Carga Horária Diária: {{plano.cargaHorariaDiaria}} h</p>

            <p>Tempo Comparecimento: {{plano.tempoComparecimento}} dias</p>

          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title text-info font-weight-bold">Análise</h6>

              <h4>Analista: {{analista.pesNome}}</h4>

              {% macro render_field(field,obr) %}
                {% if obr == True %}
                  <dt>{{ field.label(class="form-control-label") }}<span class="text-danger font-weight-bold">*</span>
                {% else %}
                  <dt>{{ field.label(class="form-control-label") }}
                {% endif %}
                <dd>{{ field(**kwargs)|safe }}
                {% if field.errors %}
                  <ul class=errors>
                  {% for error in field.errors %}
                    <li><span class="text-danger font-weight-bold">{{ error }}</span></li>
                  {% endfor %}
                  </ul>
                {% endif %}
                </dd>
              {% endmacro %}

              <form class="form-group" method='POST'>

                {{ form.hidden_tag() }}

                <div class="form-group">
                  {{ render_field(form.obs,class="form-control form-control-lg",size=2000, maxlength=2000, rows="3",obr=True) }}
                </div>

                <div class="form-group">
                  {{ render_field(form.parecer,class="form-control", obr=True) }}
                </div>

                  <div class="form-group">
                    <br>
                    {{ form.submit(class="btn btn-outline-primary") }}<span class="text-muted"> Atenção: campos marcados com * são obrigatórios.</span>
                  </div>

              </form>  
          </div>
        </div>
      </div>
    </div>


  </div>

</div>
{% endblock %}
