{% extends "base.html" %}
{% block content %}

<div class="container">

<div class="jumbotron">

    <h5>Lista de Planos de Trabalho de {{nome}}</h5>
    <p>Total de <span class="badge badge-success badge-pill">{{demandas_count}}</span> 
       demandas - pág. {{demandas.page}} de {{demandas.pages}} 
      {% if lista == '%' %}
        (Todas)
      {% else %}
        (forma e situação selecionadas)
      {% endif %}</p>


<div style="overflow-y: auto; overflow-x: hidden ; height:450px">
  {% for demanda in demandas.items %}

    <div class="row">

    <div class="col-sm-11">
      <div class="card">
        <div class="card-body">

          <p class="small">Início: <b>{{demanda.dataInicio.strftime('%d/%m/%Y')}}</b> - Fim: <b>{{demanda.dataFim.strftime('%d/%m/%Y')}}</b></p>

          <p class=""><a class="card-title" href="{{url_for('demandas.demanda',pacto_id=demanda.pactoTrabalhoId)}}">
            <abbr title="Clique aqui para ver detalhes da demanda"> Ver andamento da demanda </abbr></a>
            </p>

          <p><h6 class="text-muted">Forma: <b>{{demanda.forma}}</b> - Situação: <b>{{demanda.descricao}}</b></h6></p>

          <h6><small>Carga horária diária:</small> <b>{{demanda.cargaHorariaDiaria}}</b> - 
            <small>Percentual execução:</small> {% if demanda.percentualExecucao == None %}N.C.{% else %}<b>{{demanda.percentualExecucao|string()|replace(".",",")}}</b>{% endif %} - 
            <small>Rel. previsto/realizado:</small> {% if demanda.relacaoPrevistoRealizado == None %}N.C.{% else %}<b>{{demanda.relacaoPrevistoRealizado|string()|replace(".",",")}}</b>{% endif %} - 
            <small>Tempo total disponível:</small> <b>{{demanda.tempoTotalDisponivel}}</b>
          </h6>

        </div>
      </div>
    </div>

    </div>

    <div class="row">
      <p>...</p>
    </div>

  {% endfor %}
  </div>
</div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">

    {% for page_num in demandas.iter_pages(left_edge=1,left_current=1,right_current=2,right_edge=1) %}
      {% if page_num %}
        {% if demandas.page == page_num %}
          <li class="page-item active">
              <a class="page-link" href="{{url_for('demandas.list_demandas_usu',lista=lista,pessoa_id=0,page=page_num)}}">{{page_num}}</a>
          </li>
        {% else %}
          <li class="page-item">
              <a class="page-link" href="{{url_for('demandas.list_demandas_usu',lista=lista,pessoa_id=0,page=page_num)}}">{{page_num}}</a>
          </li>
        {% endif %}
      {% else %}
        <span class="page-link">…</span>
      {% endif %}

    {% endfor %}
  </ul>
</nav>

{% endblock %}
