{% extends "base.html" %}
{% block content %}

<div class="container">

  <div class="jumbotron">

    <h5>Lista de Planos de Trabalho na unidade {{unid_dados.undSiglaCompleta}} e suas subordinadas</h5>
    <p>Total de <span class="badge badge-success badge-pill">{{demandas_count}}</span> 
       demandas sendo <span class="badge badge-secondary badge-pill">{{demandas_count_pai}}</span> da {{unid_dados.undSigla}} 
      {% if lista == '%' %}
        (Todas)
      {% else %}
        ({{lista}})
      {% endif %}</p>


      <div class="container" style="overflow-y:auto;">

        <table id="table"
              data-toggle="table"
              data-filter-control="true"
              data-show-search-clear-button="true"
              data-sortable="true"
              classes="table-sm"
              data-show-columns="true"
              data-show-columns-toggle-all="true"
              class="table table-striped table-hover table-sm">
          <caption>Planos de Trabalho</caption>
          <thead>
            <tr>
              <th scope="col"><p align = "center">#</p></th>
              <th scope="col" data-field="Responsável" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Termo de pesquisa..."><p align = "center">Resposável</p></th>
              <th scope="col" data-sortable="true"><p align = "center">Início</p></th>
              <th scope="col" data-sortable="true"><p align = "center">Fim</p></th>
              <th scope="col" data-field="Forma" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Termo de pesquisa..."><p align = "center">Forma</p></th>
              <th scope="col" data-field="Situação" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Termo de pesquisa..."><p align = "center">Situação</p></th>
              <th scope="col"><p align = "center"><abbr title="Carga Horária Diária">C.H.D.</abbr></p></th>
              <th scope="col"><p align = "center"><abbr title="Percentual de execução">% exec.</abbr></p></th>
              <th scope="col"><p align = "center"><abbr title="Relação Previsto/Realizado">p/r</abbr></p></th>
              <th scope="col"><p align = "center"><abbr title="Tempo Total Disponível">T.T.D.</abbr></p></th>
              <th scope="col"><p align = "center"><abbr title="Índice de Compromentimento com o Plano">ICP</abbr></p></th>
              {% if lista == 'Enviado para aceite' %}
                <th scope="col"><p align = "center">Aceite</p></th>
              {% endif %}
              {% if com_nota %}
                <th scope="col"><p align = "center">Avaliado?</p></th>
              {% endif %}
            </tr>
          </thead>

          <tbody>
            {% for demanda in demandas %}
              <tr>
                <th scope="row"><p align = "center"> 
                  <a class="card-title" href="{{url_for('demandas.demanda',pacto_id=demanda.pactoTrabalhoId)}}">
                  <abbr title="Clique aqui para ver detalhes do Plano">
                  {{demandas.index(demanda) + 1}} </abbr></a></p>
                </th>
                <td><p align = "center"> {{demanda.pesNome}} ({{demanda.undSigla}}) </p></td>
                <td><p align = "center"> {{demanda.dataInicio.strftime('%d/%m/%Y')}} </p></td>
                <td><p align = "center"> {{demanda.dataFim.strftime('%d/%m/%Y')}} </p></td> 
                <td><p align = "center"> {{demanda.forma}} </p></td>
                <td><p align = "center"> 
                  <a class="card-title" href="{{url_for('demandas.demanda',pacto_id=demanda.pactoTrabalhoId)}}">
                    <abbr title="Clique aqui para ver detalhes do Plano">
                    {% if demanda.descricao == 'Em execução' %}
                      <span class="text-primary">{{demanda.descricao}}</span>
                    {% elif demanda.descricao == 'Enviado para aceite' %}
                      <span class="text-warning">{{demanda.descricao}}</span>
                    {% elif demanda.descricao == 'Executado' and demanda.qtd_com_nota != None and (demanda.qtd_com_nota / demanda.qtd_ativs) < 1 %}
                      <span class="text-info">{{demanda.descricao}}</span>
                    {% elif demanda.descricao == 'Executado' and demanda.qtd_com_nota != None %}
                      <span class="text-success">{{demanda.descricao}}</span> 
                    {% elif demanda.descricao == 'Executado' %}
                      <span class="text-danger">{{demanda.descricao}}</span>        
                    {% else %} 
                      {{demanda.descricao}}  
                    {% endif %} 
                  </abbr></a></p> 
                </p></td>
                <td><p align = "center"> {{demanda.cargaHorariaDiaria}} </p></td>  
                <td><p align = "center"> {% if demanda.percentualExecucao == None %}N.C.{% else %} {{demanda.percentualExecucao|string()|replace(".",",")}} {% endif %} </p></td> 
                <td><p align = "center"> {% if demanda.relacaoPrevistoRealizado == None %}N.C.{% else %} {{demanda.relacaoPrevistoRealizado|string()|replace(".",",")}} {% endif %} </p></td> 
                <td><p align = "center"> {{demanda.tempoTotalDisponivel}} </p></td>
                {% if icps[demanda.pactoTrabalhoId] %}
                  <td><p align = "center"> {{icps[demanda.pactoTrabalhoId]|string()|replace(".",",")}} </p></td>
                {% else %}
                  <td><p align = "center"> N.C. </p></td>
                {% endif %}  
                {% if lista == 'Enviado para aceite' and usuario.tipoFuncaoId != None and demanda.pesEmail != current_user.pesEmail %}
                  <td><p align = "center"><a href="{{url_for('demandas.analisa_plano',pacto_id=demanda.pactoTrabalhoId)}}" class="btn btn-info btn-sm" role="button" aria-pressed="true"><abbr title="Avaliar">A</abbr></a></p></td>
                {% endif %}
                {% if com_nota %}
                  {% if demanda.qtd_com_nota != None %}
                    <td><p align = "center"> {{(100 * demanda.qtd_com_nota / demanda.qtd_ativs)|round|int}} %</p></th>
                  {% endif %}    
                {% endif %}         
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>
</div>


{% endblock %}
