{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
<div class="jumbotron">

    <div class="row">

      <div class="col">

        <!-- cartão do plano de trabalho -->
        <div class="card" style="width: 30rem; height: 36rem;">
        
        <div class="card border-primary">

          <div class="card-body" style="overflow-y:auto; height: 36rem;">
            <!-- botões no topo do cartão -->
            {% if current_user.is_authenticated and usuario.unidadeId in tree_sup_ids %}
              <div class="row">
                <div class="col-4">
                  {% if post.descricao == 'Em execução' %}
                    {% if usuario.pesNome == post.pesNome %}
                      <button type="button" class="btn btn-info btn-sm" data-toggle='modal' data-target='#tipo_modal'>Fazer solicitação</button>
                    {% else %}  
                      {% if usuario.tipoFuncaoId != None and usuario.tipoFuncaoId != '' %}  
                        <button type="button" class="btn btn-info btn-sm" data-toggle='modal' data-target='#tipo_modal'>Fazer alteração</button>
                      {% endif %}
                    {% endif %}  
                  {% endif %}
                  {% if usuario.pesNome == post.pesNome and post.descricao == 'Aceito' %}
                    <button type="button" class="btn btn-info btn-sm" data-toggle='modal' data-target='#inicia_modal'>Iniciar Plano</button>
                  {% endif %}  
                </div>
                <div class="col-4" align="center">
                  {% if (usuario.pesNome == post.pesNome or usuario.tipoFuncaoId != None) and post.descricao == 'Em execução' %}
                    <button type="button" class="btn btn-success btn-sm" data-toggle='modal' data-target='#encerra_modal'>Encerrar Plano</button>
                  {% endif %}
                  {% if usuario.pesNome != post.pesNome and usuario.tipoFuncaoId != None and post.descricao == 'Executado' %}
                    <button type="button" class="btn btn-danger btn-sm" data-toggle='modal' data-target='#reabre_modal'>Reabrir Plano</button>
                  {% endif %}
                </div>  
                <div class="col-4" align="right">
                  {% if usuario.pesNome == post.pesNome or usuario.tipoFuncaoId != None %}
                    <a href="{{url_for('objetos.add_objeto',plano_id=post.planoTrabalhoId,pacto_id=id)}}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Criar objeto no PG</a>
                  {% endif %}
                </div>
              </div> 

              {# modal encerrar plano de trabalho #}

              <div class="modal" tabindex="-1" role="dialog" id="encerra_modal">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <div class="p-3 mb-2 bg-danger text-white">
                      <h5 class="modal-title">Encerrar o Plano de Trabalho?</h5>
                      </div>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Deseja colocar este Plano de Trabalho como Executado?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>

                      <form action="{{url_for('demandas.finaliza_plano',pacto_id=id)}}" method="post">
                        <input class="btn btn-danger" type="submit" name="" value="Executar">
                      </form>

                    </div>
                  </div>
                </div>
              </div> 

              {# modal iniciar plano de trabalho #}

              <div class="modal" tabindex="-1" role="dialog" id="inicia_modal">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <div class="p-3 mb-2 bg-success text-white">
                      <h5 class="modal-title">Iniciar o Plano de Trabalho?</h5>
                      </div>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Ao colocar este Plano de Trabalho em execução, você atesta concordar com o Termo de Aceite constante
                        no Programa de Gestão associado. Este termo pode ser consultado no painel de controle deste Plano, via 
                        opção "Ver Programa de Gestão", ou via lista de Programas de Gestão deste aplicativo, clicando-se no 
                        correspondente número de sequência.
                      </p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>

                      <form action="{{url_for('demandas.inicia_plano',pacto_id=id)}}" method="post">
                        <input class="btn btn-success" type="submit" name="" value="Iniciar">
                      </form>

                    </div>
                  </div>
                </div>
              </div> 

              {# modal reabrir plano de trabalho #}

              <div class="modal" tabindex="-1" role="dialog" id="reabre_modal">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <div class="p-3 mb-2 bg-danger text-white">
                      <h5 class="modal-title">Reabrir o Plano de Trabalho?</h5>
                      </div>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Deseja colocar este Plano de Trabalho como Em execução?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>

                      <form action="{{url_for('demandas.reabre_plano',pacto_id=id)}}" method="post">
                        <input class="btn btn-danger" type="submit" name="" value="Executar">
                      </form>

                    </div>
                  </div>
                </div>
              </div> 
  

              {# modal para verificar tipo de solicitação #}

              <div class="modal" tabindex="-1" role="dialog" id="tipo_modal">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">

                      <h5 class="modal-title">Escolhendo tipo de Alteração </h5>

                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>

                    </div>
                    <div class="modal-body">

                      {% macro render_field(field,obr) %}
                        {% if obr == True %}
                          <dt>{{ field.label(class="form-control-label") }}<span class="text-danger font-weight-bold">*</span>
                        {% else %}
                          <dt>{{ field.label(class="form-control-label") }}
                        {% endif %}
                        <dd>{{ field(**kwargs)|safe }}
                        {% if field.errors %}
                          <ul class=errors>
                          {% for error in field.errors %}
                            <li><span class="text-danger font-weight-bold">{{ error }}</span></li>
                          {% endfor %}
                          </ul>
                        {% endif %}
                        </dd>
                      {% endmacro %}

                      <form class="form-group" method='POST'>
                        {{ form1.hidden_tag() }}

                        <div class="form-row">
                          <div class="form-group">
                            {{ render_field(form1.tipo,class="form-control",obr=True) }}
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-3">
                          </div>
                          <div class="col-7" align = "center" >
                            {{ form1.submit(class="btn btn-outline-primary") }}<span class="text-muted"><br> Atenção: campos marcados com * são obrigatórios.</span>
                          </div>
                        </div>
                    
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>

                    </div>
                  </div>
                </div>
              </div> 

            {% endif %}
            <p></p>
              <!-- texto do cartão  -->
            <p align="center">Plano de Trabalho - {% if post.descricao == 'Em execução' %}
              <span class="text-primary"><b>{{post.descricao}}</b></span>
            {% elif post.descricao == 'Rejeitado' %}  
              <span class="text-danger"><b>{{post.descricao}}</b></span>
            {% elif post.descricao == 'Executado' %}  
              <span class="text-success"><b>{{post.descricao}}</b></span>  
            {% elif post.descricao == 'Enviado para aceite' %}  
              <span class="text-warning"><b>{{post.descricao}}</b></span> 
            {% elif post.descricao == 'Aceito' %}  
              <span class="text-info"><b>{{post.descricao}}</b></span>   
            {% else %}
              <b>{{post.descricao}}</b>
            {% endif %}</p>

            <ul class="small list-group">
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    Resp.: <b>{{post.pesNome}}</b>&nbsp; Unidade: <b>{{post.undSigla}}</b><br>
                    Forma: <b>{{post.forma}}</b> - <b>{{post.cargaHorariaDiaria}} h/dia</b>
                </div>
              </li>

              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  Início: <b>{{post.dataInicio.strftime('%d/%m/%Y')}}</b> - Fim: <b>{{post.dataFim.strftime('%d/%m/%Y')}}</b>
                    &nbsp;(<b>{{qtd_dias_uteis_sf}}</b> dias: <b>{{qtd_dias_uteis}}</b> úteis)
                 </div>
              </li>
              
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  Tempo total disponível: <b>{{post.tempoTotalDisponivel}}</b> h
                  <div>{% if sum_ativs_tempo_total == post.tempoTotalDisponivel%}
                         <b>{{sum_ativs_tempo_total|round(1)|string()|replace(".",",")}}</b>
                       {% else %}
                         <b><span class = "text-danger">{{sum_ativs_tempo_total|round(1)|string()|replace(".",",")}}</span></b>  
                       {% endif %}  
                   h comprometidas com atividades, sendo: <br>
                    <div class = "row">
                      <div class = "col-4 text-right">
                        <b>{{sum_ativs_p_tempo_total|round|string()|replace(".",",")}} h</b>
                      </div>
                      <div class = "col">  
                        programadas
                      </div>    
                    </div><div class = "row">
                      <div class = "col-4 text-right">
                        <b>{{sum_ativs_e_tempo_total|round(1)|string()|replace(".",",")}} h</b>
                      </div>
                      <div class = "col">  
                        em execução
                      </div>    
                    </div>
                    <div class = "row">
                      <div class = "col-4 text-right">
                        <b>{{sum_ativs_c_tempo_total|round(1)|string()|replace(".",",")}} h</b>
                      </div>
                      <div class = "col">  
                        concluídas
                      </div>    
                    </div>
                  </div>
                </div>
              </li>

              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div><abbr title="Quantidade de atividades executadas dividido pela quantidade de atividades do plano.">Execução (qtd)</abbr>:
                         {% if percentual_qtd_ativs_executado == None %}N.C.{% else %}<b>{{percentual_qtd_ativs_executado|string()|replace(".",",")}} %</b>{% endif %}<br>
                       <abbr title="Tempo total declarado como realizado dividido pelo tempo total previsto nas atividades do plano.">Execução (tempo)</abbr>:
                         {% if percentual_tempo_realizado == None %}N.C.{% else %}<b>{{percentual_tempo_realizado|string()|replace(".",",")}} %</b>{% endif %}<br>
                       <abbr title="Valor resgatado do BD. Este sistema registra o tempo previsto total das atividades concluídas dividido pelo tempo total declarado como realizado.">Relação previsto/realizado</abbr>:
                         {% if post.relacaoPrevistoRealizado == None %}N.C.{% else %}<b>{{post.relacaoPrevistoRealizado|string()|replace(".",",")}} %</b>{% endif %}<br>
                       <abbr title="Valor resgatado do BD. Este sistema registra a Execução (qtd) neste campo.">Produtividade</abbr>:
                         {% if post.percentualExecucao == None %}N.C.{% else %}<b>{{post.percentualExecucao|string()|replace(".",",")}} %</b>{% endif %}<br>
                  </div>
                </div>
              </li>

              <li class="list-group-item d-flex justify-content-center">
                <div align="center">
                  <a href="{{url_for('demandas.relatorio', pacto_id=id)}}">Gerar relatório em pdf</a><br>
                  <a href="{{url_for('pgs.ver_pg',pg_id=post.planoTrabalhoId)}}">Ver Programa de Gestão</a>
                </div>
              </li>

            </ul>

          </div>

        </div>
        </div>

      </div>

          <!-- Cartão das atividades -->

      <div class="col">
        
        <div class="card" style="width: 31rem; height: 36rem;">
        <div class="card border-secondary">

          <div class="card-body" style="overflow-y:auto; height: 36rem;">

            
            <p align="center"><b>{{qtd_items_cat}}</b>
              {% if qtd_items_cat == 1 %}
                Atividade
              {% else %}
                Atividades
              {% endif %}
                - <b>{{qtd_ativs_pacto}}</b> ocorrências
                {% if qtd_dias_rest < 0 %}
                  - Prazo encerrado
                {% else %}
                    - <b>{{qtd_dias_rest}}</b> 
                  {% if qtd_dias_rest == 1 %}
                    dia útil restante
                  {% else %}
                    dias úteis restantes
                  {% endif %}
                {% endif %}  
            </p>

            <ul class="small list-group">

              {% for item in items_cat %}

                <li class="list-group-item d-flex justify-content-between align-items-start">

                  <div class="ms-2 me-auto">

                    <div>
                      <b>{{ item.titulo }}</b>
                    </div>

                    <div class="row">
                      <div class="col-3">
                        {% if item.tam_grupo > 1 %}
                          {{(item.tam_grupo * item.tempoPrevistoPorItem)|string()|replace(".",",")}} h total
                        {% else %}
                          {{item.tempoPrevistoTotal|string()|replace(".",",")}} h total
                        {% endif %}
                      </div>
                      <div class="col-3">
                        {{item.tempoPrevistoPorItem|string()|replace(".",",")}} h item
                      </div>
                      {% if tem_assunto[item.titulo] or tem_objeto[item.titulo] %}
                      <div class="col">    
                        <a href="{{url_for('demandas.lista_assuntos', pacto_id=id,item_cat_id=item.itemCatalogoId)}}"><abbr title="Clique aqui para ver informações sobre a execução desta atividade"></abbr><span>Assuntos e Objetos</span></abbr></a>
                      </div>
                      {% endif %}

                    </div>

                      <div class="progress" style="height: 1rem; width: 23rem;">
                        <div class="progress-bar bg-success" role="progressbar" aria-label="Progresso da atividade" style="width: {{(100 * item.conclu / item.tam_grupo)|round|int}}%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                          {% if item.exec > 0 and item.conclu == 0 %}
                            <span class="text-primary">{{(100 * item.conclu / item.tam_grupo)|round|int}}%</span>
                          {% else %}
                            {{(100 * item.conclu / item.tam_grupo)|round|int}}%
                          {% endif %}
                        </div>
                      </div>
                    
                  </div>
               
                  <a href="{{url_for('demandas.ativ_ocor', pacto_id=id,item_cat_id=item.itemCatalogoId)}}"><abbr title="Clique aqui para ver ocorrências">
                  <span class="btn btn-outline-dark btn-sm">{{item.tam_grupo}}</span></abbr></a>

                </li>
              {% endfor %} 
            
            </ul>

          </div>

        </div>
        </div>

      </div>

            <!-- Cartão de histórico, reuniões e solicitações -->

      <div class="col">

        <div class="card" style="width: 30rem; height: 36rem;">
        
        <div class="card border-info bg-light mb-3">
        <!-- <div class="card bg-light mb-3"> -->

          <div class="card-header">
            <div class="text-info" align="center">
              Histórico (<b>{{qtd_hist}}</b>), Reuniões (<b>{{qtd_reun}}</b>) e Solicitações (<b>{{qtd_solic}}</b>)
            </div>
          </div>

          <div class="card-body"  style="overflow-y:auto; height: 32rem;">
            <div class="list-group">

            {% for item in pro_des %}
            {% if item.tipo != "Atividade" %}

                <div class="list-group-item list-group-item-action">

                  <!-- Histórico -->

                  {% if item.tipo == 'Histórico' or item.tipo == 'Histórico PG' %}
                    {% if item.data != None%}
                      <div class="text-muted" style="text-align:right"> Data: {{item.data.strftime('%d/%m/%Y')}} </div>
                    {% else %}  
                      <div class="text-muted" style="text-align:right"> Data Operação não informada </div>
                    {% endif %}

                    {% if item.tipo == 'Histórico'%}
                      <p class="card-text text-info"> <b>{{item.tipo}} Plano</b> </p>
                    {% else %}
                      <p class="card-text text-info"> <b>{{item.tipo}}</b> </p>
                    {% endif %}  
                    <div class = 'row'>
                      <div class = 'col-4'>
                        <small class="text-muted"> Situação: </small>
                        <p class="card-text"> {{item.situa}} </p>
                      </div>
                      <div class = 'col'>
                        <small class="text-muted"> Responsável: </small>
                        <p class="card-text"> {{item.pesNome}} </p>
                      </div>
                    </div>
                    {% if item.tit != None%}
                      <small class="text-muted"> Observações: </small> <p class="card-text"> {{item.tit}}</p>
                    {% endif %}      


                  <!-- Reuniões -->

                  {% elif item.tipo == 'Reunião' %}

                    {% if item.data != None%}
                      <div class="text-muted" style="text-align:right"> Data: {{item.data.strftime('%d/%m/%Y')}} </div>
                    {% else %}  
                      <div class="text-muted" style="text-align:right"> Data Reunião não informada </div>
                    {% endif %}

                    <p class="card-text text-warning"> <b>{{item.tipo}}</b> </p>
                    <small class="text-muted"> Título: </small>
                    <p class="card-text"> {% if item.tit == None%}Não informada{% else %}{{item.tit}}{% endif %} </p>

                    {% if item.obj != None and item.obj != '' %}
                      <p><small class="text-dark"> <b>Objeto:</b> {{item.chave}} </small></p>
                    {% endif %}  

                    <small class="text-muted"> Descrição: </small>
                    <p class="card-text"> {% if item.desc == None%}Não informada{% else %}{{item.desc}}{% endif %} </p>

                    {% if item.obj == None and current_user.is_authenticated and obj_pg_count != 0 and usuario.unidadeId in tree_sup_ids%}
                      <br>
                      <div class="row">
                        <div class="col-6">
                        </div>
                        <div class="col-6" align="right">
                            <a href="{{url_for('objetos.objeto_reuniao',plano_id=post.planoTrabalhoId,pacto_id=id,reuniao_id=item.id)}}" class="btn btn-secondary btn-sm" role="button" aria-pressed="true">Objeto</a>
                        </div>
                      </div>
                    {% endif %}


                    
                  <!-- Solicitações -->

                  {% elif item.tipo[:7] == 'Solicit' %} 

                    {% if item.data != None%}
                      <div class="text-muted" style="text-align:right"> Data: {{item.data.strftime('%d/%m/%Y')}} </div>
                    {% else %}  
                      <div class="text-muted" style="text-align:right"> Data Solicitação não informada </div>
                    {% endif %}
                    <p class="card-text text-success"> {{item.tipo[0:17]}}<b>{{item.tipo[16:]}}</b> por {{item.pesNome}}</p>

                    <ul class="small list-group">

                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                          <div><span class="text-muted"> Observações do Solicitante: </span><br> {% if item.obs == None%}Não informada{% else %}{{item.obs}}{% endif %} </div>
                        </div>
                      </li>

                      {% for d in dados_solic %}

                        {% if d[0] == item.id %}
                      
                          {% if item.tipo[18:22] == 'Nova' %}
                              <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                  <div><span class="text-muted">Atividade: </span><br> <b>{{d[1]['itemCatalogo']}}</b> </div>
                                </div>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                  {% if d[1]['tempoPrevistoPorItem'] != None %}
                                    <div><span class="text-muted"> Tempo previsto: </span> <b>{{d[1]['tempoPrevistoPorItem']|string()|replace(".",",")}} h</b> </div>
                                  {% endif %}  
                                  <div><span class="text-muted"> Situação: </span> <b>{{d[1]['situacao']}}</b> </div>
                                </div>
                              </li>
                              {% if d[1]['dataInicio'] != 'null' and d[1]['dataInicio'] != None and d[1]['dataInicio'] != '' %}
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                  <div class="ms-2 me-auto">
                                    <div><span class="text-muted"> Início: </span> <b>{{(d[1]['dataInicio']|str_to_date).strftime('%d/%m/%Y')}}</b> </div>
                                  </div>
                                </li>
                              {% endif %}
                              {% if d[1]['dataFim'] != 'null' and d[1]['dataFim'] != None and d[1]['dataFim'] != '' %}
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                  <div class="ms-2 me-auto">
                                    <div><span class="text-muted"> Fim: </span> <b>{{(d[1]['dataFim']|str_to_date).strftime('%d/%m/%Y')}}</b>  </div>
                                  </div>
                                </li>
                              {% endif %}
                          {% elif item.tipo[18:22] == 'Alte' %}
                              <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                  <div><span class="text-muted"> Fim: </span> <b>{{(d[1]['dataFim']|str_to_date).strftime('%d/%m/%Y')}}</b>  </div>
                                </div>
                              </li>
                          {% elif item.tipo[18:22] == 'Excl' %}
                                {% for a in ativs_simp %}
                                  {% if d[1]['pactoTrabalhoAtividadeId']|lower == a.id|lower %}
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                      <div class="ms-2 me-auto">
                                        <div><span class="text-muted"> Situação </span><b>{{a.situa}}</b></div>
                                      </div>
                                    </li>
                                  {% endif %}   
                                {% endfor %}
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                  <div class="ms-2 me-auto">
                                    <div><span class="text-muted"> Atividade: </span><b>{{d[1]['itemCatalogo']}}</b></div>
                                  </div>
                                </li>
                          {% elif item.tipo[18:22] == 'Praz' %}
                              <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                  <div><span class="text-muted"> Atividade: </span><br></div>
                                  {% for a in ativs_simp %}
                                    {% if d[1]['pactoTrabalhoAtividadeId'] == a.id|lower %}
                                      <span> <b>({{a.seq}}) {{a.titulo}}</b></span>
                                    {% endif %}  
                                  {% endfor %}
                                </div>
                              </li>
                          {% endif %}

                        {% endif %}

                      {% endfor %}

                      {% if item.desc != None and item.desc != '' %}
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div><span class="text-muted"> Obs. Analista: </span><br> {{item.desc}} </div>
                          </div>
                        </li>
                      {% endif %}

                      {% if item.dataFim != None and item.dataFim != '' %}
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div>
                              {% if item.nota == False %}
                                <span class= "text-danger font-weight-bold">Recusada</span>
                              {% else %}
                                <span class= "text-primary font-weight-bold">Aprovada</span> 
                              {% endif %}
                              em {{item.dataFim.strftime('%d/%m/%Y')}} por {{item.analist}}
                            </div>
                          </div>
                        </li>
                      {% else %}
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div>
                                Análise <span class= "text-warning font-weight-bold">Pendente</span> 
                            </div>
                          </div>
                        </li>
                      {% endif %}

                    </ul>
                    <br>
                    {% if usuario.unidadeId in tree_sup_ids %}
                      <div class="row">
                        <div class="col-6">
                          
                        </div>
                        <div class="col-6">
                          {% if (item.dataFim == None or item.dataFim == '') and (usuario.tipoFuncaoId != None or usuario.pessoaId == post.avaliadorId) and post.pesEmail != current_user.userEmail %}
                            <a href="{{url_for('demandas.solicitacao_analise',solic_id=item.id,pacto_id=id)}}" 
                            class="btn btn-warning btn-sm" role="button" aria-pressed="true">Analisar</a>
                          {% endif %}
                        </div>
                    </div>
                   {% endif %}  
                
                  {% endif %}  
                  
                </div>

            {% endif %}    
            {% endfor %}
            </div>
          </div>
        <!-- </div> -->
        </div>
        </div>
      </div>
    </div>

</div>
</div>



{% endblock %}
