{% extends "base.html" %}
{% block content %}
<div class="container">
<div class="jumbotron">

  {% if unid_dados != None%}
    <h5><b>Objetos nos PGs da unidade {{unid_dados.undSiglaCompleta}} e suas subordinadas</b></h5>
  {% elif usuario != None %}  
  <h5><b>Objetos relacionados às atividades de {{usuario.pesNome}} ({{unid.undSigla}})</b></h5>
  {% else %}
    <h5><b>Objetos no PG {{pg}}</b></h5>

    {% if current_user.is_authenticated %}
          <p><a href="{{url_for('objetos.add_objeto',plano_id=pg, pacto_id='*')}}" class="btn btn-primary" role="button" aria-pressed="true">Inserir novo</a>
          <small class="form-text text-muted">Ou clique em um número de sequência para alterar dados do respectivo objeto.</small></p>
    {% endif %}
  {% endif %}  

  <caption>
    <div class="row">
        <div class="col">
          <p>Lista do(s) <span class="badge badge-pill badge-primary">{{quantidade}}</span> Objeto(s). </p>
        </div>
    </div>
  </caption>

  <div class="container" style="overflow-y:auto;">

    <table id="table"
          data-toggle="table"
          data-filter-control="true"
          data-show-search-clear-button="true"
          data-sortable="true"
          classes="table-sm"
          data-show-columns="true"
          data-show-columns-toggle-all="true"
          class="table table-striped table-hover table-sm">
    <!-- class="table-responsive">   -->
      
      <caption>Objetos</caption>
      <thead>
        <tr>
          
          <!-- <th data-field="columnA" data-filter-control="input" data-sortable="true">column A</th>
          <th data-field="columnB" data-filter-control="select" data-sortable="true">column B</th>
          <th data-field="columnC" data-filter-control="input" data-sortable="true">column C</th> -->
      
          <th scope="col"><p align = "center">#</p></th>
          {% if unid_dados != None%} 
            <th scope="col"><p align = "center">Unidade</p></th>
          {% endif %} 
          <th scope="col" data-field="Chave" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Termo de pesquisa..."><p align = "center">Chave</p></th>
          <th data-field="Descrição" data-filter-control="input" data-sortable="true" data-filter-control-placeholder="Termo de pesquisa..."><p align = "center">Descrição</p></th>
          <th scope="col"><p align = "center">Hist.</p></th>
        </tr>
      </thead>
      <tbody>

        {% for o in objetos %}

        <tr>
          
          <th scope="row"><p align = "center"> 
            {% if usuario == None %}
              <a href="{{url_for('objetos.altera_objeto', objeto_id = o.objetoId)}}"><abbr title="Clique aqui atualizar">{{objetos.index(o) + 1}}</abbr></a>
            {% else %}
              {{objetos.index(o) + 1}}
            {% endif %}
          </p></th>

          {% if unid_dados != None%} 
            <td><p align = "center"> {{o.undSigla}} </p></td>
          {% endif %} 
          <td><p align = "center"> {{o.chave}} </p></td>
          <td><p align = "center"> {{o.descricao}} </p></td>
          <td><p align = "center"> <a href="{{url_for('objetos.objeto_hist', objeto_id = o.objetoId)}}"><abbr title="Clique aqui para ver histórico do objeto.">Ver</abbr></a> </p></td>
        </tr>

        {% endfor %}

      </tbody>
    </table>

  </div>

</div>
</div>
{% endblock %}
