{% extends "base.html" %}
{% block content %}
<div class="container">
<div class="jumbotron">


  <h5>Atividades Associadas ao Objeto: <b>{{ativs_objeto[0].chave}} - {{ativs_objeto[0].descricao}}</b></h5>

  <caption>
    <div class="row">
        <div class="col">
          <p><span class="badge badge-pill badge-primary">{{quantidade}}</span> itens. </p>
        </div>
    </div>
  </caption>

  <div class="container" style="overflow-y:auto;">

    <table id="table"
          data-toggle="table"
          data-filter-control="true"
          data-show-search-clear-button="true"
          data-sortable="true"
          classes="table-sm"
          data-show-columns="true"
          data-show-columns-toggle-all="true"
          class="table table-striped table-hover table-sm">
    <!-- class="table-responsive">   -->
      
      <caption>Atividade do objeto</caption>
      <thead>
        <tr>
          
          <!-- <th data-field="columnA" data-filter-control="input" data-sortable="true">column A</th>
          <th data-field="columnB" data-filter-control="select" data-sortable="true">column B</th>
          <th data-field="columnC" data-filter-control="input" data-sortable="true">column C</th> -->
      
          <th scope="col"><p align = "center">#</p></th>
          <th scope="col"><p align = "center">Unidade</p></th>
          <th scope="col"><p align = "center">Ini. Ativ.</p></th>
          <th scope="col"><p align = "center">Fim Ativ.</p></th>
          <th scope="col"><p align = "center">Conclusão</p></th>
          <th scope="col"><p align = "center">Assuntos</p></th>
        </tr>
      </thead>
      <tbody>

        {% set ativ_rep = namespace(ativ = '') %}

        {% for a in ativs_objeto %}

          <tr>
            <th scope="row"><p align = "center">
              {% if a.assunto_data == None %}
                {{ativs_objeto.index(a) + 1}}
              {% else %}
                <a class="card-title" href="{{url_for('demandas.demanda',pacto_id=a.pactoTrabalhoId)}}">
                <abbr title="Clique aqui para ver plano que contém esta atividade.">{{ativs_objeto.index(a) + 1}} </abbr></a></p></th>
              {% endif %}
            <td><p align = "center">{{a.undSigla}}</p></td>  
            {% if ativ_rep.ativ != a.pactoTrabalhoAtividadeId %}
              <td><p align = "center"> {% if a.dataInicio == None %}N.I.{% else %}{{a.dataInicio.strftime('%d/%m/%Y')}}{% endif %} </p></td>
              <td><p align = "center"> {% if a.dataFim == None %}N.I.{% else %}{{a.dataFim.strftime('%d/%m/%Y')}}{% endif %} </p></td>
              <td><p align = "center"> {% if a.consideracoesConclusao == None %}N.I.{% else %} {{a.consideracoesConclusao}} {% endif %}</p></td>
            {% else %}
              <td><p align = "center"> " </p></td>
              <td><p align = "center"> " </p></td>
              <td><p align = "center"> " </p></td>
            {% endif %}  
            <td><p align = "left"> {% if a.assunto_data == None %}
                                     N.I.
                                   {% else %}
                                     {{a.assunto_data[4:6]}}/{{a.assunto_data[2:4]}}/{{a.assunto_data[0:2]}} - {{a.valor}}
                                   {% endif %} </p></td>
          </tr>

          {% set ativ_rep.ativ = a.pactoTrabalhoAtividadeId %}

        {% endfor %}

      </tbody>
    </table>

  </div>

</div>
</div>
{% endblock %}
